# Info About this File

We couldn't push the entire .csv file on Github due to file size constraints, as the raw file was over 200MB in size. This notebook contains code we used to work with the entire available set (from 2020 to 2023) to filter out complete years to run analysis on. From this point, we did the rest of our processing in other Jupyter notebooks, importing each of those years separately as the starting point and merging back into a larger DataFrame as necessary.

### ***THIS CODE WILL NOT RUN UNLESS YOU GRAB THE CSV DATASET FROM DATA.GOV AND DROP IT INTO THE RESOURCES FOLDER UNDER THE NAME 'Crime_Data_from_2020_to_Present.csv'***
That resource is available [HERE](https://catalog.data.gov/dataset/crime-data-from-2020-to-present) if you would like to retrace these steps

In [26]:
# Imports:
# import json, requests
import pprint, os.path as path
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [27]:
crime_data_all = pd.read_csv(path.join("Resources", "Crime_Data_from_2020_to_Present.csv"))
crime_data_all.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [28]:
crime_data_all["DATE OCC"]=pd.to_datetime(crime_data_all["DATE OCC"])
crime_data_all["Date Rptd"]=pd.to_datetime(crime_data_all["Date Rptd"])
crime_data_all['Year Occurred'] = crime_data_all['DATE OCC'].dt.year
# added month occurred from other notebook
crime_data_all['Month Occurred'] = crime_data_all['DATE OCC'].dt.month
crime_full_yrs = crime_data_all[crime_data_all['Year Occurred'].between(2020,2022)]
#automatically dropped 2023 data
crime_full_yrs.head()

/var/folders/xy/r885ptjj34j_kp733mqm887c0000gn/T/ipykernel_46412/1441906607.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crime_data_all["DATE OCC"]=pd.to_datetime(crime_data_all["DATE OCC"])
/var/folders/xy/r885ptjj34j_kp733mqm887c0000gn/T/ipykernel_46412/1441906607.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crime_data_all["Date Rptd"]=pd.to_datetime(crime_data_all["Date Rptd"])

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Year Occurred,Month Occurred
0,10304468,2020-01-08,2020-01-08,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978,2020,1
1,190101086,2020-01-02,2020-01-01,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545,2020,1
2,200110444,2020-04-14,2020-02-13,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474,2020,2
3,191501505,2020-01-01,2020-01-01,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019,2020,1
4,191921269,2020-01-01,2020-01-01,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468,2020,1

In [36]:
# getting info for the trimmed down data set we are using
crime_full_yrs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 643205 entries, 0 to 644202
Data columns (total 30 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           643205 non-null  int64
 1   Date Rptd       643205 non-null  datetime64[ns]
 2   DATE OCC        643205 non-null  datetime64[ns]
 3   TIME OCC        643205 non-null  int64
 4   AREA            643205 non-null  int64
 5   AREA NAME       643205 non-null  object
 6   Rpt Dist No     643205 non-null  int64
 7   Part 1-2        643205 non-null  int64
 8   Crm Cd          643205 non-null  int64
 9   Crm Cd Desc     643205 non-null  object
 10  Mocodes         554950 non-null  object
 11  Vict Age        643205 non-null  int64
 12  Vict Sex        559350 non-null  object
 13  Vict Descent    559346 non-null  object
 14  Premis Cd       643197 non-null  float64
 15  Premis Desc     642896 non-null  object
 16  Weapon Used Cd  224380 non-null  float64
 17  Weapon Desc     224380 non-null  object
 18  Status          643205 non-null  object
 19  Status Desc     643205 non-null  object
 20  Crm Cd 1        643198 non-null  float64
 21  Crm Cd 2        48435 non-null   float64
 22  Crm Cd 3        1641 non-null    float64
 23  Crm Cd 4        48 non-null      float64
 24  LOCATION        643205 non-null  object
 25  Cross Street    105590 non-null  object
 26  LAT             643205 non-null  float64
 27  LON             643205 non-null  float64
 28  Year Occurred   643205 non-null  int32
 29  Month Occurred  643205 non-null  int32
dtypes: datetime64[ns](2), float64(8), int32(2), int64(7), object(11)
memory usage: 147.2+ MB

In [29]:
# Original code omits DEC 31
# crime_data_2020 = crime_full_yrs.loc[(crime_full_yrs['DATE OCC'] >= '2020-01-01')
#                      & (crime_full_yrs['DATE OCC'] < '2020-12-31')]
crime_data_2020 = crime_full_yrs.loc[(crime_full_yrs['DATE OCC'] >= '2020-01-01')
                     & (crime_full_yrs['DATE OCC'] <= '2020-12-31')]

crime_data_2020

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Year Occurred,Month Occurred
0,10304468,2020-01-08,2020-01-08,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978,2020,1
1,190101086,2020-01-02,2020-01-01,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545,2020,1
2,200110444,2020-04-14,2020-02-13,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474,2020,2
3,191501505,2020-01-01,2020-01-01,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019,2020,1
4,191921269,2020-01-01,2020-01-01,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199458,200318867,2020-10-14,2020-10-14,2130,3,Southwest,396,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,230.0,NaN,NaN,NaN,800 W MARTIN LUTHER KING JR BL,NaN,34.0111,-118.2872,2020,10
199459,230816743,2023-11-10,2020-09-13,2200,8,West LA,829,2,940,EXTORTION,...,940.0,NaN,NaN,NaN,1700 COMSTOCK AV,NaN,34.0596,-118.4233,2020,9
199460,230916259,2023-11-11,2020-06-01,1200,9,Van Nuys,985,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,13900 MILBANK ST,NaN,34.1530,-118.4479,2020,6
199461,230123464,2023-11-06,2020-01-01,1220,1,Central,156,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,500 SAN JULIAN ST,NaN,34.0446,-118.2450,2020,1
199462,200116567,2020-08-18,2020-08-18,330,1,Central,157,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,...,236.0,NaN,NaN,NaN,STANFORD,5TH,34.0422,-118.2415,2020,8

In [30]:
# double checking that above formula does what we expected it to
print(crime_data_2020['DATE OCC'].min())
print(crime_data_2020['DATE OCC'].max())

# The original code omitted december 31, and was modified as a result -Ashelyn 11-18-2023

2020-01-01 00:00:00
2020-12-31 00:00:00

In [31]:
# write 2020 data to csv
crime_data_2020.to_csv(path.join("Resources", "crime_data_2020.csv"))

In [32]:
# all date filters have been adjusted as outlined in cell for crime_data_2020
crime_data_2021 = crime_full_yrs.loc[(crime_full_yrs['DATE OCC'] >= '2021-01-01')
                     & (crime_full_yrs['DATE OCC'] <= '2021-12-31')]
crime_data_2021

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Year Occurred,Month Occurred
119996,211911395,2021-07-28,2021-07-27,130,19,Mission,1982,2,890,FAILURE TO YIELD,...,890.0,NaN,NaN,NaN,RAYEN,COLUMBUS,34.2319,-118.4656,2021,7
121615,221307125,2022-03-01,2021-12-26,1300,13,Newton,1309,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,2200 E WASHINGTON BL,NaN,34.0194,-118.2340,2021,12
121865,210218766,2021-12-12,2021-12-11,2100,2,Rampart,257,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,1600 W 4TH ST,NaN,34.0592,-118.2675,2021,12
122145,212009618,2021-05-26,2021-05-25,2000,20,Olympic,2042,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,3600 W 9TH ST,NaN,34.0559,-118.3091,2021,5
122280,210205820,2021-02-16,2021-02-13,2000,2,Rampart,235,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,200 S CORONADO ST,NaN,34.0657,-118.2781,2021,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408857,211421071,2021-11-07,2021-11-07,100,14,Pacific,1431,1,761,BRANDISH WEAPON,...,761.0,NaN,NaN,NaN,00 WINDWARD AV,NaN,33.9873,-118.4729,2021,11
408858,210516671,2021-12-01,2021-12-01,1430,5,Harbor,585,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,740.0,NaN,NaN,NaN,1900 S GRAND AV,NaN,33.7270,-118.2902,2021,12
408859,210217231,2021-11-06,2021-11-05,2300,2,Rampart,235,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,2300 MIRAMAR ST,NaN,34.0649,-118.2741,2021,11
408860,210312887,2021-07-12,2021-07-12,1200,3,Southwest,363,1,350,"THEFT, PERSON",...,350.0,NaN,NaN,NaN,CRENSHAW BL,STOCKER ST,34.0088,-118.3351,2021,7
408861,212005847,2021-02-22,2021-02-22,1200,20,Olympic,2034,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,3300 W 8TH ST,NaN,34.0596,-118.3022,2021,2

In [33]:
# write 2021 data to csv
crime_data_2021.to_csv(path.join("Resources", "crime_data_2021.csv"))

In [34]:
# all date filters have been adjusted as outlined in cell for crime_data_2020
crime_data_2022 = crime_full_yrs.loc[(crime_full_yrs['DATE OCC'] >= '2022-01-01')
                     & (crime_full_yrs['DATE OCC'] <= '2022-12-31')]
crime_data_2022

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Year Occurred,Month Occurred
408862,220216262,2022-09-08,2022-09-08,1445,2,Rampart,275,2,624,BATTERY - SIMPLE ASSAULT,...,624.0,NaN,NaN,NaN,1000 S BURLINGTON AV,NaN,34.0502,-118.2765,2022,9
408863,221809626,2022-04-23,2022-04-22,2100,18,Southeast,1862,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,SAN PEDRO ST,120TH ST,33.9237,-118.2696,2022,4
408864,221711121,2022-07-10,2022-07-10,200,17,Devonshire,1781,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,230.0,NaN,NaN,NaN,8800 OSO AV,NaN,34.2299,-118.5754,2022,7
408865,220805283,2022-01-24,2022-01-22,1445,8,West LA,855,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,341.0,NaN,NaN,NaN,1600 CAMDEN AV,NaN,34.0501,-118.4439,2022,1
408866,221821212,2022-11-27,2022-11-27,1635,18,Southeast,1826,1,210,ROBBERY,...,210.0,NaN,NaN,NaN,91ST,COMPTON,33.9543,-118.2475,2022,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644198,221017286,2022-12-05,2022-12-01,1800,10,West Valley,1047,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,331.0,NaN,NaN,NaN,17200 BURBANK BL,NaN,34.1722,-118.5077,2022,12
644199,221005507,2022-02-10,2022-02-09,1530,10,West Valley,1024,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,18800 SHERMAN WY,NaN,34.2011,-118.5426,2022,2
644200,221105477,2022-02-10,2022-02-08,2000,11,Northeast,1171,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,4000 FOUNTAIN AV,NaN,34.0958,-118.2787,2022,2
644201,221605448,2022-02-15,2022-02-14,1800,16,Foothill,1613,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,331.0,NaN,NaN,NaN,12700 VAN NUYS BL,NaN,34.2755,-118.4092,2022,2
644202,221018080,2022-12-25,2022-12-25,1300,10,West Valley,1065,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,626.0,NaN,NaN,NaN,5300 NEWCASTLE AV,NaN,34.1667,-118.5244,2022,12

In [35]:
# write 2022 data to csv
crime_data_2022.to_csv(path.join("Resources", "crime_data_2022.csv"))

In [24]:
# checking to see how many crimes exist without location data in the data we are using
crime_full_yrs.loc[crime_data_all['LAT'] == 0,:].info()

# We will be keeping these in for most stats, but discarding them for crime mapping for obvious reasons

<class 'pandas.core.frame.DataFrame'>
Index: 2260 entries, 1403 to 497704
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DR_NO                2260 non-null   int64
 1   Date Rptd            2260 non-null   datetime64[ns]
 2   DATE OCC             2260 non-null   datetime64[ns]
 3   TIME OCC             2260 non-null   int64
 4   AREA                 2260 non-null   int64
 5   AREA NAME            2260 non-null   object
 6   Rpt Dist No          2260 non-null   int64
 7   Part 1-2             2260 non-null   int64
 8   Crm Cd               2260 non-null   int64
 9   Crm Cd Desc          2260 non-null   object
 10  Mocodes              2126 non-null   object
 11  Vict Age             2260 non-null   int64
 12  Vict Sex             2172 non-null   object
 13  Vict Descent         2172 non-null   object
 14  Premis Cd            2260 non-null   float64
 15  Premis Desc          2260 non-null   object
 16  Weapon Used Cd       830 non-null    float64
 17  Weapon Desc          830 non-null    object
 18  Status               2260 non-null   object
 19  Status Desc          2260 non-null   object
 20  Crm Cd 1             2260 non-null   float64
 21  Crm Cd 2             219 non-null    float64
 22  Crm Cd 3             0 non-null      float64
 23  Crm Cd 4             0 non-null      float64
 24  LOCATION             2260 non-null   object
 25  Cross Street         402 non-null    object
 26  LAT                  2260 non-null   float64
 27  LON                  2260 non-null   float64
 28  Year Crime Occurred  2260 non-null   int32
 29  Year Occurred        2260 non-null   int32
 30  Month Occurred       2260 non-null   int32
dtypes: datetime64[ns](2), float64(8), int32(3), int64(7), object(11)
memory usage: 538.5+ KB

# Thoughts on data with no location
We could possibly use a generic 'AREA NAME' lat/long to resolve these to a valid location.  
We can also just drop the data as appropriate.  
For Identity Theft, it's unlikely that definitive location data exists in many cases, so using a generic fill seems prudent to allow data to be mapped if desired